/* Let's highlight canvas boundaries */
#gjs {
    border: 3px solid #444;
  }

  /* Reset some default styling */
  .gjs-cv-canvas {
    top: 0;
    width: 100%;
    height: 100%;
  }

  .gjs-block {
    width: auto;
    height: auto;
    min-height: auto;
  }

  .editor-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 300px;
  }

  .editor-canvas {
    flex-grow: 1;
  }

  .panel__right {
    flex-basis: 230px;
    position: relative;
    overflow-y: auto;
  }
